<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.ClassesMapper">
    <resultMap id="BaseResultMap" type="com.qf.bean.Classes">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cname" jdbcType="VARCHAR" property="cname"/>
    </resultMap>

    <select id="findclasses" resultMap="BaseResultMap">
        SELECT *
        FROM classes
    </select>

    <sql id="Base_Column_List">
        id, cname
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from classes
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM classes
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.qf.bean.Classes">
        INSERT INTO classes (id, cname)
        VALUES (#{id,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.qf.bean.Classes">
        insert into classes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cname != null">
                cname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cname != null">
                #{cname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.Classes">
        update classes
        <set>
            <if test="cname != null">
                cname = #{cname,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qf.bean.Classes">
        UPDATE classes
        SET cname = #{cname,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>